.user-layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.user-layout-main {
    flex: 1;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease;
}